<li class="card">
    <img src="{{image}}" />
    <p>
        <strong>Name:{{name}} </strong><span class="name">Show</span>
    </p>
    <p>
        <strong>Location:{{location}} </strong><span class="location">San Diego Zoo</span>
    </p>
    <p><strong>Need of:{{need}}</strong><span class="need-of">Medicine</span></p>
    <a class="details-btn" href="/animals/{{_id}}/details">Details</a>
</li>